language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - node
before_script:
  - npm prune
script:
  - npm run lint
  - npm run build
after_success:
  - npm run clean
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
